﻿html,
body {
    font-size: 100%;
    font-family: '微軟正黑體', 'Source Sans Pro', sans-serif;
    background: #ffffff;
    margin: 0;
}

p,
ul li,
ol li,
body a {
    margin: 0;
    letter-spacing: 1px;
}

p {
    font-family: '微軟正黑體', 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: '微軟正黑體', 'Montserrat', sans-serif;
    margin: 0;
    letter-spacing: 1px;
}

ul,
label {
    margin: 0;
    padding: 0;
}

body a:hover {
    text-decoration: none;
}

input[type="submit"],
input[type="reset"],
input[type="search"],
input[type="text"],
input[type="email"] {
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    font-family: '微軟正黑體', 'Source Sans Pro', sans-serif;
}

/*-- header --*/

.w3layouts_header_left {
    float: right;
    margin-top: 10px;
}

.w3layouts_header_left p {
    color: #999;
    line-height: 1.8em;
}

.w3layouts_header_right {
    float: left;
}

.header {
    padding: 0.6em 3em;
    background: #1f1f26;
}

.w3layouts_header_right ul li {
    display: inline-block;
    color: #fff;
}

.header_contact_details_agile i {
    float: left;
    font-size: 2em;
    color: #fff;
}

.agileits-social.top_content ul {
    margin: 0 !important;
}

.agileits-social.top_content {
    margin: 0 !important;
}

.w3layouts_header_right ul li i {
    color: #f1ce65;
}

.w3layouts_header_right ul li a {
    color: #fff;
    text-decoration: none;
}

.w3layouts_header_right ul li a:hover {
    color: #fa3d43;
}

.w3layouts_header_left ul li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
}

.w3layouts_header_left ul li a {
    color: #fff;
    padding: 0.5em 1em;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #f1ce65;
}

.w3layouts_header_left i {
    color: #fdfbf6;
    margin-right: 0.5em;
}

.social_list_w3ls {
    position: absolute;
    bottom: -126px;
    left: 16px;
}

.social_list_w3ls i {
    width: 0;
    height: 0;
    margin: 0;
}

.social_list_w3ls a {
    display: inline-block;
    margin-right: 36px;
    color: #fff;
}

.social_list_w3ls a:hover {
    color: #00acee;
}

.social_list_w3ls span {
    font-size: 1em;
}

/*-- w3layouts_header_mid --*/

.w3layouts_header_mid ul li {
    list-style: none;
    display: inline-block;
    width: 23%;
}

.header_contact_details_agile i {
    color: #ef5734;
    width: 20%;
    float: left;
    text-align: center;
    margin-top: 7px;
}

.w3l_header_contact_details_agile {
    float: right;
    width: 80%;
}

.header-contact-detail-title {
    color: #1f1f1f;
    font-size: 1.1em;
    font-weight: 600;
}

a.w3l_header_contact_details_agile-info_inner,
.w3l_header_contact_details_agile a {
    font-size: 1em;
    color: #868282;
}

.header_mid {
    padding: 1em 3em;
    background: rgba(245, 244, 244, 0.41);
}

.w3layouts_header_mid ul li {
    list-style: none;
    display: inline-block;
    width: 24.5%;
    border-right: 1px ridge#b5c0d4;
}

.w3layouts_header_mid ul li:nth-child(4) {
    border: none;
}

.detail-w3l {
    float: right;
    margin-top: 0.5em;
}

.detail-w3l ul li {
    display: inline-block;
    font-size: 1em;
    margin: 0 0.5em;
    color: #fff;
}

/*-- //w3layouts_header_mid--*/

/*-- bootstrap-pop-up --*/

.modal-header {
    color: #222;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: none;
}

.close {
    opacity: 1;
}

.modal-body p {
    color: #777;
    text-align: left;
    padding: 1em 2em 1em;
    margin: 0 !important;
    line-height: 2em;
}

.modal-body p i {
    display: block;
    margin: 1em 0;
    color: #212121;
}

.modal-body {
    padding: 0;
}

.modal-content {
    border-radius: 0;
}

button.close {
    font-size: 1.5em;
    color: #212121;
    outline: none;
}

/*-- registration --*/

.signin-form {
    padding: 0em 1em 1em 1em;
    text-align: center;
}

.signin-form h3,
h3.agileinfo_sign {
    font-size: 1.5em;
    color: #212121;
    font-weight: 700;
    margin: 1em 0 0.8em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3.agileinfo_sign {
    text-align: center;
}

.signin-form h3 span {
    color: #67e1ff;
}

.login-form {
    margin: 1em 0 2.5em;
}

.signin-form input[type="email"],
.signin-form input[type="text"],
.signin-form input[type="password"] {
    width: 100%;
    padding: 1em 1em 1em 1em;
    font-size: 0.9em;
    margin: 0.5em 0;
    outline: none;
    color: #212121;
    border: none;
    border: 1px solid #ccc;
    letter-spacing: 1px;
    text-align: center;
}

.signin-form input[type="email"] {
    background: none;
    display: block;
}

.signin-form input[type="text"] {
    background: none;
    display: block;
}

.signin-form input[type="password"] {
    background: none;
    display: block;
}

.signin-form ::-webkit-input-placeholder {
    color: #212121 !important;
}

.signin-form input[type="submit"] {
    outline: none;
    padding: 0.8em 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    border: none;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    background: #f1ce65;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
}

.signin-form input[type="submit"]:hover {
    color: #fff;
    background: #000;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}

.signin-form p a {
    font-size: 0.875em;
    color: #212121;
    letter-spacing: 1px;
}

.login-social-grids {
    margin: 1em 0;
}

.login-social-grids ul {
    padding: 0;
    margin: 0;
}

.login-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}

.login-social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}

.login-social-grids ul li a i.fa.fa-facebook,
.login-social-grids ul li a i.fa.fa-twitter,
.login-social-grids ul li a i.fa.fa-rss {
    height: 30px;
    width: 30px;
    border: solid 2px #212121;
    line-height: 29px;
    background: none;
    color: #212121;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.login-social-grids ul li a i.fa.fa-facebook:hover {
    border: solid 2px #3b5998;
    background: #3b5998;
    color: #FFFFFF;
}

.login-social-grids ul li a i.fa.fa-twitter:hover {
    border: solid 2px #55acee;
    background: #55acee;
    color: #FFFFFF;
}

.login-social-grids ul li a i.fa.fa-rss:hover {
    border: solid 2px #f26522;
    background: #f26522;
    color: #FFFFFF;
}

.modal-header .close {
    float: right !important;
}

.form-control:focus {
    border: 1px solid #ccc;
    outline: 0;
    box-shadow: none !important;
}

/*-- //registration --*/

/*-- //bootstrap-pop-up --*/

/*-- banner --*/

.banner1 {
    background: url(../../images/innovative/banner2.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 300px;
}

.banner-multi {
    background: url(../../images/innovative/11.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center;
    min-height: 300px;
}

/*-- nav --*/

.navbar-default {
    background: none;
    border: none;
}

.navbar {
    margin-bottom: 0;
}

.navbar-collapse {
    padding: 0;
}

.navbar-right {
    margin-right: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #f1ce65;
    background: none;
}

.navbar-default .navbar-nav>li>a {
    font-weight: 600;
    letter-spacing: 1px;
    font-family: '微軟正黑體', 'Source Sans Pro', sans-serif;
    font-size: 1em;
}

.navbar-nav>li>a {
    margin: 0;
    padding: 0 1.5em;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #03A9F4;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    outline: none;
}

nav.navbar.navbar-default {
    background: none;
    padding: 0.5em 2em;
}

a.navbar-brand i.fa.fa-star {
    color: #000;
    font-size: 1em;
}

.navbar-right {
    float: right !important;
    margin: 1em 0 0 7em;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #fff;
    background: none;
}

.navbar-default .navbar-nav>li>a {
    color: #222;
}

.navbar-default .navbar-nav>.active.open>a:focus {
    background: transparent;
    color: #222;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #222;
}

.navbar-brand {
    height: 42px;
    padding: 0;
    font-size: 1.2em;
    line-height: 43px;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-brand span {
    color: #fff;
    background: #f1ce65;
    padding: 0px 13px;
    margin-right: 0.2em;
}

.link-effect-2 a {
    overflow: hidden;
    font-weight: 400;
}

.link-effect-2 a span {
    position: relative;
    display: inline-block;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.link-effect-2 a span::before {
    color: #f1ce65;
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.link-effect-2 a:hover span {
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
    padding: 0;
    border: none;
}

.agile_short_dropdown li a {
    text-transform: uppercase;
    color: #212121;
    font-size: 13px;
    font-weight: 600;
    padding: .8em 0;
}

.agile_short_dropdown>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #f1ce65;
}

.agileits-social.top_content {
    margin: .5em 0 !important;
    float: right;
    padding-right: 1em;
}

.agileits-social.top_content li {
    display: inline-block;
}

.agileits-social a {
    color: #eee;
    margin: .5em;
    font-size: 16px;
}

.agileits-social a:hover {
    color: #ff9800;
}

/*-- to-top --*/

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 55px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../../images/innovative/top3.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

/*-- //to-top --*/

/*-- bootstrap-pop-up --*/

.modal-content {
    border-radius: 0;
}

.close {
    opacity: 1;
}

.modal-body p i {
    display: block;
    margin: 1em 0 0;
    color: #212121;
}

.modal-body {
    padding: 0em;
}

button.close {
    font-size: 1em;
    color: #212121;
    outline: none;
}

/*-- //bootstrap-pop-up --*/

/* about */

.w3-about-us,
.w3-agile-services,
.subscribe,
.w3-footer-contact,
.typo,
.inner_main_agile_section,
.testimonial_about,
.team,
.w3-services-page,
.contact,
.w3-advantages,
.team1,
.gallery {
    padding: 5em 0;
}

.w3-headings-all h3,
.typo-title h3 {
    font-size: 3em;
    color: #03A9F4;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.testimonial h3 {
    color: #fff;
}

.w3-about-text p {
    width: 69%;
    margin: 0 auto;
    line-height: 2em;
    font-size: 1em;
    color: #000;
    margin-bottom: 1em;
}

.w3-about-text ul li {
    list-style: none;
}

.w3-about-all-grid {
    width: 65%;
    margin: 0 auto;
}

.w3-about-grid-left ul li,
.w3-about-grid-right ul li {
    list-style-type: none;
}

.w3-about-grid-left h3,
.w3-about-grid-right h3 {
    font-size: 1.5em;
    margin: 0.5em 0;
}

.w3-about-grid-left h3 span,
.w3-about-grid-right h3 span {
    margin-right: 0.5em;
    color: #f1ce65;
}

.about-breadcrumb {
    padding: 1em 0;
    background: #f5f5f5;
    text-align: center;
}

.about-breadcrumb ul li {
    display: inline-block;
    color: #212121;
    text-transform: uppercase;
}

.about-breadcrumb ul li a {
    color: #03A9F4;
    text-decoration: none;
}

.about-breadcrumb ul li a:hover {
    color: #212121;
}

.about-breadcrumb ul li i {
    padding: 0 1.5em;
}

/*-- events --*/

.w3layouts_event_grid {
    padding: 15px;
}

.w3_agile_event_grid1 {
    position: relative;
    overflow: hidden;
}

.w3_agile_event_grid1_pos {
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: 9;
}

.w3_agile_event_grid1_pos p {
    padding: .2em 1em;
    background: #000;
    font-weight: 600;
    color: #fff;
}

.agile_event_grid1_pos {
    position: absolute;
    top: 15%;
    right: 5%;
    z-index: 9;
}

.agile_event_grid1_pos ul li {
    display: block;
    float: none;
    line-height: 30px;
}

.agile_event_grid1_pos ul li a {
    color: #212121;
    position: relative;
    display: block;
    padding: 0em 1em;
    background: #fff;
    font-weight: 600;
    border-radius: 15px;
    text-decoration: none;
}

.agile_event_grid1_pos ul li a:hover {
    background: #efb312;
    color: #fff;
}

.agile_event_grid1_pos ul li a i {
    padding-right: .5em;
}

.agile_event_grid1_pos ul li:nth-child(2) {
    margin: 1em 0;
}

.agileits_w3layouts_event_grid1 {
    padding: 1.5em;
    background: #f4f4f4;
}

.agileits_w3layouts_event_grid1:hover {
    background: #f1ce65;
}

.agileits_w3layouts_event_grid1 h5 {
    margin: 1em 0;
}

.agileits_w3layouts_event_grid1 h5 a {
    font-size: 1.4em;
    color: #212121;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    text-decoration: none;
}

.agileits_w3layouts_event_grid1:hover h5 a {
    color: #fff;
}

.agileits_w3layouts_event_grid1:hover p {
    color: #fff;
}

.agileits_w3layouts_event_grid1 p {
    color: #777;
    line-height: 2em;
}

.w3_agile_event_grid1:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(17, 19, 18, 0.44);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
}

.w3layouts_event_grid:hover .w3_agile_event_grid1:before {
    opacity: 1;
    -ms-filter: alpha(opacity=100);
    filter: alpha(opacity=100);
}

.w3_agile_event_grid1 img {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    display: inline-block;
}

.w3layouts_event_grid:hover .w3_agile_event_grid1 img {
    transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
}

.events {
    margin-top: 6em;
}

/*-- //events --*/

/* //about */

/*--about page --*/

.sub_para_agile {
    text-align: center;
    font-style: italic;
    font-size: 1em;
    font-weight: 600;
    color: #48506b;
    letter-spacing: 2px;
    margin-top: 1em;
}

.about-left_w3ls_img {
    background: url(../../images/innovative/ab.jpg)no-repeat center;
    min-height: 642px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
}

.about-top_agile_its h2 {
    font-size: 3em;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
}

.about-top_agile_its {
    padding: 7em 0em 0em 3em;
}

.about-top_agile_its h5 {
    font-size: 11px;
    font-weight: 400;
    color: #0ac876;
    text-transform: uppercase;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #cec8c8;
    margin: 0px 0px 15px 0px;
    letter-spacing: 4px;
}

.about-top_agile_its span {
    font-weight: 600;
    font-style: italic;
    color: #ef5734;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 2em;
}

.about-top_agile_its p {
    font-size: 1em;
    font-weight: 400;
    color: #838383;
    line-height: 2em;
    letter-spacing: 1px;
    margin-bottom: 1em;
}

p.w3l_sub_para_agile {
    color: #0ac876;
    letter-spacing: 5px;
    font-size: 0.9em;
    text-align: center;
    font-weight: 400;
}

.w3_agileits_about_grid_left p {
    color: #777;
    line-height: 2em;
    font-size: 1em;
}

.w3_agileits_about_grid_left ul li {
    display: block;
    margin-bottom: 1em;
    color: #212121;
    line-height: 1.5em;
    text-transform: capitalize;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 2px;
}

.w3_agileits_about_grid_left ul li i {
    color: #efb312;
    padding-right: 1em;
}

.w3_agileits_about_grid_left span {
    display: block;
    font-style: italic;
    color: #777;
    margin-bottom: 2em;
}

#chart {
    height: 300px;
    margin: 30px auto 0;
    display: block;
}

#chart #numbers {
    height: 100%;
    width: 50px;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
}

#chart #numbers li {
    text-align: right;
    padding-right: 1em;
    list-style: none;
    height: 29px;
    position: relative;
    bottom: 30px;
}

#chart #numbers li:last-child {
    height: 30px;
}

#chart #numbers li span {
    color: #262c38;
    position: absolute;
    bottom: 0;
    right: 10px;
    font-weight: 600;
}

#chart #bars {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#chart #bars li {
    display: table-cell;
    width: 80px;
    height: 300px;
    margin: 0;
    text-align: center;
    position: relative;
}

#chart #bars li .bar {
    display: block;
    width: 70px;
    margin-left: 15px;
    background: #f1ce65;
    position: absolute;
    bottom: 0;
}

#chart #bars li .bar:hover {
    background: #5AE;
    cursor: pointer;
}

#chart #bars li .bar:hover:before {
    font-weight: 600;
    color: #262c38;
    content: attr(data-percentage) '%';
    position: relative;
    bottom: 20px;
}

#chart #bars li span {
    font-weight: 600;
    color: #262c38;
    width: 100%;
    position: absolute;
    bottom: -2em;
    left: 9px;
    text-align: center;
    font-size: 0.9em;
}

/*--about page end here--*/

/*-- services --*/

.w3-agile-services {
    background: url(../../images/innovative/bg12.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    background-position: bottom right;
}

.w3l-heading h3,
.w3l-heading h2 {
    text-align: center;
}

.w3l-services-heading h3 {
    color: #FFFFFF;
}

.services-right-grid {
    text-align: center;
}

i.fa.fa-truck,
i.fa.fa-tachometer,
i.fa.fa-shield,
i.fa.fa-wrench,
i.fa.fa-shopping-cart,
i.fa.fa-subway,
i.fa.fa-ship {
    color: #000;
    font-size: 2em;
}

.services-icon {
    width: 90px;
    height: 90px;
    text-align: center;
    border: solid 2px #ffffff;
    line-height: 95px;
    margin: 0 auto;
}

.modal-title {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    margin: .5em 0;
    color: #00BCD4;
    letter-spacing: 1px;
}

.span1 {
    color: #000;
}

.agileits-w3layouts-info p {
    font-size: 1em;
    line-height: 1.8em;
    color: #999;
}

.modal-content {
    border-radius: 0px;
}

.agileits-w3layouts-info img {
    width: 100%;
}

/* Radial In */

.hvr-radial-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    background: #f1ce65;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-radial-in:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    border-radius: 100%;
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-radial-in:hover,
.hvr-radial-in:focus,
.hvr-radial-in:active {
    color: white;
}

.services-right-grid:hover div.hvr-radial-in:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}

.services-right-grid:hover i.fa.fa-subway,
.services-right-grid:hover i.fa.fa-truck,
.services-right-grid:hover i.fa.fa-tachometer,
.services-right-grid:hover i.fa.fa-wrench,
.services-right-grid:hover i.fa.fa-shield,
.services-right-grid:hover i.fa.fa-shopping-cart,
.services-right-grid:hover i.fa.fa-ship,
.services-right-grid:hover i.fa.fa-magnet,
.services-right-grid:hover i.fa.fa-thumbs-up,
.services-right-grid:hover i.fa.fa-asterisk {
    color: #FFFFFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.services-icon-info h5 {
    color: #f1ce65;
    font-size: 1em;
    font-weight: 600;
    margin: 1em 0 0 0;
}

.services-right-grids:nth-child(2) {
    margin: 3em 0 0 0;
}

.services-icon-info p {
    color: #fff;
    font-size: .9em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
}

.services-icon-info h4 {
    margin: 1em 0 0 0;
    padding: 1em;
    background: #f1ce65;
    width: 42%;
    margin: 1em auto;
    border-radius: 6%;
}

.services-icon-info h4:hover {
    background: #03a9f4;
}

.services-icon-info h4 a {
    text-decoration: none;
    color: #fff;
}

/*-- //services --*/

/*-- services page --*/

.skills-w3left {
    padding: 0 8em 0 0;
}

.skills h4 {
    font-size: 2.5em;
    color: #03A9F4;
    font-family: '微軟正黑體', 'Open Sans Condensed', sans-serif;
    margin-bottom: 0.8em;
}

.skills .nav-tabs {
    border: none;
}

.skills .nav-tabs li {
    margin: 0;
    width: 33.33%;
    text-align: center;
}

.skills .nav-tabs>li>a {
    margin: 0;
    font-size: 1em;
    color: #999;
    border: 1px solid #ccc;
    border-radius: 0;
}

.skills .nav-tabs li:nth-child(2) a {
    border-left: 0;
    border-right: 0;
}

.skills .nav-tabs>li.active>a,
.skills .nav-tabs>li.active>a:hover,
.skills .nav-tabs>li.active>a:focus {
    color: #038292;
    border-top-width: 3px;
    border-top-color: #00bcd4;
    border-bottom-color: transparent;
    background: rgb(146, 232, 243);
    margin-top: -1px;
}

.tabcontent-grids {
    padding-top: 1em;
}

.tabcontent-grids ul li {
    display: block;
    font-size: 1em;
    color: #999;
    line-height: 2em;
}

.tabcontent-grids ul li span.glyphicon {
    margin-right: 0.5em;
}

/*-- progress-bars --*/

.b_label {
    color: #555;
    margin-bottom: 6px;
    font-weight: 300;
}

.bar_group {
    position: relative;
    z-index: 0;
    padding: 0;
}

.bar_group__bar.thin::before,
.bar_group__bar.thick::before {
    display: block;
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 6px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    background: #E4E4E4;
    border-radius: 6px;
}

.bar_group__bar.thin {
    width: 0%;
    height: 6px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    background: #f1ce65;
    margin-bottom: 2em;
    -webkit-transition: width 1s;
    transition: width 1s;
    -moz-transition: width 1s;
    border-radius: 6px;
}

.skills .nav-tabs>li>a {
    margin: 0;
}

.tabcontent-grids p {
    line-height: 2em;
}

/*-- //services page --*/

/*-- /advantages --*/

.w3-adv-right1 {
    background: url(../../images/innovative/news2.png) no-repeat 0px 0px;
    background-size: cover;
    min-height: 500px;
    background-position: bottom right;
}

.w3-adv-left2 {
    background: url(../../images/innovative/news3.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 500px;
}

.w3-adv-right3 {
    background: url(../../images/innovative/news4.png) no-repeat 0px 0px;
    background-size: cover;
    min-height: 500px;
    background-position: bottom right;
}

.w3-adv-left4 {
    background: url(../../images/innovative/news5.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 500px;
}

.w3-adv-lef1-text h3 {
    font-size: 2em;
    margin-bottom: 0.2em;
}

.w3-adv-lef1-text p {
    font-size: 1em;
    margin-bottom: 2em;
    color: #ffbf00;
}

.w3-adv-lef1-text2 p {
    font-size: 1em;
    line-height: 1.8em;
}

.w3-adv-lef1-text2 p {
    font-size: 1em;
    line-height: 1.8em;
    margin-bottom: 2em;
}

.w3-adv-lef1-text2 h4 {
    font-size: 1.4em;
    text-transform: capitalize;
}

.w3-adv-left1 {
    padding: 1em 0.5em;
}

.w3-adv-left3 {
    padding: 4em 2em;
}

.w3-adv-right2-text h3 {
    font-size: 2em;
    margin-bottom: 0.2em;
}

.w3-adv-right2-text-para p {
    font-size: 1em;
    line-height: 1.8em;
    margin-bottom: 2em;
}

.w3-adv-right2-text p {
    font-size: 1em;
    margin-bottom: 2em;
    color: #ffbf00;
}

.w3-adv-right2-icons p i {
    font-size: 2em;
    color: red;
}

.w3-adv-right2 {
    padding: 1em 0.5em;
}

.w3-adv-right2-icons p i {
    font-size: 2em;
    color: #f1ce65;
    margin-right: 1em;
}

.w3-adv-right2-icons {
    width: 50%;
    margin: 0 auto;
}

.w3-adv-right2-icons p {
    margin-bottom: 0.5em;
}

/*-- //advantages --*/

/*-- subscribe --*/

.subscribe input[type="email"] {
    width: 70%;
    padding: 1em;
    font-size: 1em;
    float: left;
    color: #000;
    outline: none;
    border: 1px solid #f1ce65;
    border-right: none;
    background: none;
    -webkit-appearance: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
}

.subscribe input[type="submit"] {
    float: left;
    color: #fff;
    font-size: 1em;
    outline: none;
    padding: 1em 1.8em;
    border: 1px solid #f1ce65;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-appearance: none;
    background: #f1ce65;
}

.subscribe form:hover input[type="text"] {
    border-color: #f8d501;
}

.subscribe form:hover input[type="submit"] {
    border-color: #fff;
    background: #fff;
    color: #000;
}

.agileits-title h3 {
    font-size: 3em;
    color: #f1ce65;
    padding: 0 0 1em 0;
}

.subscribe {
    background: #03a9f4;
}

.agileits-title h6 {
    color: #fff;
}

/*-- //subscribe --*/

/*--flexisel--*/

/*--team--*/

.flex-slider {
    background: #222227;
    padding: 70px 0 165px 0;
}

.opportunity {
    background: #28282e;
    margin: 0px 20px;
    padding: 80px 0;
    position: relative;
}

#flexiselDemo1 {
    display: none;
}

.nbs-flexisel-container {
    position: relative;
    max-width: 100%;
}

.nbs-flexisel-ul {
    position: relative;
    width: 9999px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.nbs-flexisel-inner {
    overflow: hidden;
    margin: 0px auto;
}

.nbs-flexisel-item {
    float: left;
    padding: 0;
    position: relative;
    line-height: 0px;
}

.nbs-flexisel-item>img {
    cursor: pointer !important;
    position: relative;
}

/*---- Nav ---*/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 35px;
    height: 35px;
    position: absolute;
    cursor: pointer;
    z-index: 999;
    top: 102% !important;
}

.nbs-flexisel-nav-left {
    left: 101%;
    top: 40% !important;
    background: url(../../images/innovative/next1.png) no-repeat 0px 0px;
    background-size: 32px;
}

.nbs-flexisel-nav-right {
    right: 101%;
    top: 40% !important;
    background: url(../../images/innovative/back1.png) no-repeat 0px 0px;
    background-size: 32px;
}

.teaminfo {
    padding: 15px 15px 50px;
    border: 1px solid #bbb;
    margin-right: 1.05em;
}

.teaminfo h4 {
    font-size: 20px;
    color: #146eb4;
    text-transform: uppercase;
    margin: 15px 0 10px;
}

.teaminfo p {
    font-size: 16px;
    color: #999;
    text-transform: capitalize;
    margin: 10px 0;
}

.teaminfo i.fa {
    margin-left: 10px;
    color: #146eb4;
}

ul.top-links li {
    display: inline-block;
}

ul.top-links li a i.fa {
    color: #f53753;
    color: #fff;
    font-size: 15px;
    background: #656565;
    padding: 0.7em 0;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    line-height: 10px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.top-links i.fa.fa-facebook {
    background: #3b5998;
}

.top-links i.fa.fa-twitter {
    background: #0087da;
}

.top-links i.fa.fa-google-plus {
    background: #dd4b39;
}

.top-links i.fa.fa-linkedin {
    background: #0077b5;
}

.w3-footer-contact-left h3 {
    font-size: 2em;
    color: #f1ce65;
    margin-bottom: 0.3em;
}

.w3-footer-contact-left p {
    font-size: 1em;
    line-height: 1.8em;
}

.w3-footer-contact-icon1 i {
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #f1ce65;
}

.w3-footer-contact-info p {
    color: #000;
    font-size: 1em;
}

.w3-footer-contact-info h4 {
    font-size: 1.3em;
    margin-bottom: 1em;
}

.w3-footer-contact {
    padding: 5em 0 0 0;
}

/*--//flexisel--*/

/*-- //team --*/

.footer-final {
    text-align: center;
    background-color: #000000;
    padding: 20px 0px;
}

.copyw3-agile p {
    color: white;
    letter-spacing: 1px;
}

.copyw3-agile a {
    color: #ff9800;
}

.copyw3-agile a:hover {
    color: #fff;
}

/*-- testimonial --*/

/******** SAP ************/

.sap_tabs {
    clear: both;
    text-align: center;
}

.tab_box {
    background: #fd926d;
    padding: 2em;
}

.top1 {
    margin-top: 2%;
}

.resp-tabs-list {
    width: 35%;
    list-style: none;
    padding: 0;
    margin: 4em auto 2em;
}

.resp-tab-item {
    cursor: pointer;
    padding: 0;
    display: inline-block;
    list-style: none;
    width: 20%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    background: #000;
    border-bottom: 3px solid transparent;
    border-radius: 50%;
}

.resp-tab-item img {
    width: 100%;
    opacity: .3;
    border-radius: 50%;
}

.resp-tab-item:hover {
    text-shadow: none;
    border-color: #004977;
}

.resp-tab-active {
    text-shadow: none;
    color: #fff;
}

li.resp-tab-item.resp-tab-active {
    border-color: #004977;
    opacity: 1;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

li.resp-tab-item.resp-tab-active img {
    opacity: 1;
}

.resp-tabs-container {
    padding: 0;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-content-active,
.resp-accordion-active {
    display: block;
}

@media only screen and (max-width:480px) {
    .resp-tabs-container {
        padding: 10px;
    }
    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display: none !important;
    }
}

.view.view-first {
    width: 70%;
    margin: 0 auto 0em;
    padding: 2em 5em 0;
}

.view.view-first h5 {
    color: #f1ce65;
    font-size: 1.3em;
    text-transform: capitalize;
}

.view.view-first p {
    margin-bottom: 1em;
    font-size: 15px;
    line-height: 2em;
    color: #fff;
}

.testimonial.agileits-w3layouts {
    background: url(../../images/innovative/t22.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 500px;
}

.testimonial h3.heading {
    color: #fff;
}

.testimonial .w3-head h4 {
    color: rgba(255, 255, 255, 0.61);
}

/*-- //testimonial --*/

/*-- team --*/

.wthree-team-grid img {
    width: 100%;
}

.wthree-team-grid-info {
    padding: 1em;
    background: #FFFFFF;
}

.wthree-team-grid h4 {
    font-size: 1em;
    color: #ff9800;
    margin: 0;
    font-weight: 600;
}

.wthree-team-grid p {
    margin: .5em 0;
    color: #999999;
    font-size: .9em;
}

.team-social-grids ul {
    padding: 0;
    margin: 0;
}

.team-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}

.team-social-grids ul li a {
    text-align: center;
}

.team-social-grids ul li a i.fa.fa-facebook,
.team-social-grids ul li a i.fa.fa-twitter,
.team-social-grids ul li a i.fa.fa-rss {
    height: 30px;
    width: 30px;
    border: solid 2px #FFFFFF;
    line-height: 29px;
    background: none;
    color: #b2b2b2;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.team-social-grids ul li a i.fa.fa-facebook:hover {
    border: solid 2px #3b5998;
    background: #3b5998;
    color: #FFFFFF;
}

.team-social-grids ul li a i.fa.fa-twitter:hover {
    border: solid 2px #55acee;
    background: #55acee;
    color: #FFFFFF;
}

.team-social-grids ul li a i.fa.fa-rss:hover {
    border: solid 2px #f26522;
    background: #f26522;
    color: #FFFFFF;
}

/*-- //team --*/

/*--contact page--*/

.map iframe {
    width: 100%;
    min-height: 500px;
    border: none;
}

.contact {
    background: url(../../images/innovative/bg13.jpg) center 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    background-position: bottom right;
}

.address p {
    color: #fff;
    margin: .5em 0 0;
    font-weight: 100;
}

.address p.cnt-p {
    margin: 0 0 1em;
}

.address p a {
    color: #fff;
}

.address p a:hover {
    color: #FFC107;
}

.address h4 {
    font-size: 1.8em;
    color: #FFC107;
    margin-bottom: 0.5em;
}

.contact-form {
    text-align: right;
}

.contact input[type="text"],
.contact input[type="email"] {
    width: 100%;
    color: #fff;
    float: left;
    background: none;
    outline: none;
    font-size: 1em;
    padding: .7em 1em;
    margin-bottom: 2em;
    border: solid 1px #fff;
    -webkit-appearance: none;
    display: inline-block;
}

.contact textarea {
    resize: none;
    width: 100%;
    background: none;
    color: #fff;
    font-size: 1em;
    outline: none;
    padding: .6em .8em;
    border: solid 1px #fff;
    min-height: 12em;
    -webkit-appearance: none;
}

.contact input[type="submit"] {
    outline: none;
    color: #fff;
    padding: 0.6em 4em;
    font-size: 1em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #f1ce65;
    transition: 0.5s all;
    border: 2px solid #f1ce65;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
}

.contact input[type="submit"]:hover {
    color: #fff;
    background: #03a9f4;
    border: 2px solid #03a9f4;
}

::-webkit-input-placeholder {
    color: #fff !important;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #fff !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff !important;
}

:-ms-input-placeholder {
    color: #fff !important;
}

.agileits-social1.top_content {
    margin-bottom: 1em;
}

.agileits-social1.top_content li {
    display: inline-block;
}

.agileits-social1 a {
    color: #eee;
    margin: .5em;
    font-size: 16px;
}

.agileits-social1 a:hover {
    color: #ff9800;
}

/*-- Gallery --*/

.gallery-grids img {
    width: 100%;
}

.gallery-grids {
    padding: 0;
}

/*-- gallery-hover effect --*/

.w3ls-hover {
    background-color: #FFF;
    display: block;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    text-align: center;
}

.w3ls-hover img {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.w3ls-hover .view-caption {
    padding: 3em 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.w3ls-hover .view-caption h5 {
    color: #fff;
    font-size: 2.5em;
    font-weight: normal;
    margin-bottom: 15px;
    margin-top: 5px;
}

.w3ls-hover .view-caption span {
    color: #fff;
    font-size: 1em;
    margin-top: 5%;
    display: inline-block;
    border: 2px solid #fff;
    padding: 12px;
}

.w3ls-hover:hover .view-caption {
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.w3ls-hover .view-caption span:hover {
    color: #03A9F4;
    border-color: #03A9F4;
}

/*-- //Gallery --*/

/*--//contact page--*/

/*--Typography--*/

.well {
    font-weight: 300;
    font-size: 14px;
}

.list-group-item {
    font-weight: 300;
    font-size: 14px;
}

li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}

.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}

.show-grid [class^=col-] {
    background: #fff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 2em;
    border: 10px solid #f0f0f0;
}

.show-grid [class*="col-"]:hover {
    background: #e0e0e0;
}

.grid_3 {
    margin-bottom: 2em;
}

.xs h3,
h3.m_1 {
    color: #000;
    font-size: 1.7em;
    font-weight: 300;
    margin-bottom: 1em;
}

.grid_3 p {
    color: #999;
    font-size: 0.85em;
    margin-bottom: 1em;
    font-weight: 300;
}

.grid_4 {
    background: none;
    margin-top: 50px;
}

.label {
    font-weight: 300 !important;
    border-radius: 4px;
}

.grid_5 {
    background: none;
    padding: 2em 0;
}

.grid_5 h3,
.grid_5 h2,
.grid_5 h1,
.grid_5 h4,
.grid_5 h5,
h3.hdg,
h3.bars {
    margin-bottom: 1em;
    color: #1abc9c;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    border-top: none !important;
}

.tab-content>.active {
    display: block;
    visibility: visible;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 0;
}

.badge-primary {
    background-color: #03a9f4;
}

.badge-success {
    background-color: #8bc34a;
}

.badge-warning {
    background-color: #ffc107;
}

.badge-danger {
    background-color: #e51c23;
}

.grid_3 p {
    line-height: 2em;
    color: #888;
    font-size: 0.9em;
    margin-bottom: 1em;
    font-weight: 300;
}

.bs-docs-example {
    margin: 1em 0;
}

section#tables p {
    margin-top: 1em;
}

.tab-container .tab-content {
    border-radius: 0 2px 2px 2px;
    border: 1px solid #e0e0e0;
    padding: 16px;
    background-color: #ffffff;
}

.table td,
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 15px !important;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    font-size: 0.9em;
    color: #999;
    border-top: none !important;
}

.tab-content>.active {
    display: block;
    visibility: visible;
}

.label {
    font-weight: 300 !important;
}

.label {
    padding: 4px 6px;
    border: none;
    text-shadow: none;
}

.nav-tabs {
    margin-bottom: 1em;
}

.alert {
    font-size: 0.85em;
}

h1.t-button,
h2.t-button,
h3.t-button,
h4.t-button,
h5.t-button {
    line-height: 1.8em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

li.list-group-item1 {
    line-height: 2.5em;
}

.input-group {
    margin-bottom: 20px;
}

.in-gp-tl {
    padding: 0;
}

.in-gp-tb {
    padding-right: 0;
}

.list-group {
    margin-bottom: 48px;
}

ol {
    margin-bottom: 44px;
}

h2.typoh2 {
    margin: 0 0 10px;
}

@media (max-width:768px) {
    .grid_5 {
        padding: 0 0 1em;
    }
    .grid_3 {
        margin-bottom: 0em;
    }
}

@media (max-width:640px) {
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .grid_5 h3,
    .grid_5 h2,
    .grid_5 h1,
    .grid_5 h4,
    .grid_5 h5,
    h3.hdg,
    h3.bars {
        margin-bottom: .5em;
    }
    .progress {
        height: 10px;
        margin-bottom: 10px;
    }
    ol.breadcrumb li,
    .grid_3 p,
    ul.list-group li,
    li.list-group-item1 {
        font-size: 14px;
    }
    .breadcrumb {
        margin-bottom: 10px;
    }
    .well {
        font-size: 14px;
        margin-bottom: 10px;
    }
    h2.typoh2 {
        font-size: 1.5em;
    }
    .label {
        font-size: 60%;
    }
}

@media (max-width:480px) {
    .table h1 {
        font-size: 26px;
    }
    .table h2 {
        font-size: 23px;
    }
    .table h3 {
        font-size: 20px;
    }
    .label {
        font-size: 53%;
    }
    .alert,
    p {
        font-size: 14px;
    }
    .pagination {
        margin: 20px 0 0px;
    }
}

@media (max-width: 320px) {
    .grid_4 {
        margin-top: 18px;
    }
    h3.title {
        font-size: 1.6em;
    }
    .alert,
    p,
    ol.breadcrumb li,
    .grid_3 p,
    .well,
    ul.list-group li,
    li.list-group-item1,
    a.list-group-item {
        font-size: 13px;
    }
    .alert {
        padding: 10px;
        margin-bottom: 10px;
    }
    ul.pagination li a {
        font-size: 14px;
        padding: 5px 11px;
    }
    .list-group {
        margin-bottom: 10px;
    }
    .well {
        padding: 10px;
    }
    .nav>li>a {
        font-size: 14px;
    }
    table.table.table-striped,
    .table-bordered,
    .bs-docs-example {
        display: none;
    }
}

/*--//Typography --*/

/*--web icons --*/

ul.bs-glyphicons-list li:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}

ul.bs-glyphicons-list li:hover span {
    color: #fff;
}

.codes a {
    color: #999;
}

.row.fontawesome-icon-list {
    margin: 0;
}

.icon-box {
    padding: 8px 15px;
    background: rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
}

.icon-box:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}

.icon-box:hover i.fa {
    color: #fff !important;
}

.icon-box:hover a.agile-icon {
    color: #fff !important;
}

.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
}

.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: '微軟正黑體', 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #777;
}

.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}

h3.icon-subheading {
    font-size: 25px;
    color: #ff4c4c !important;
    margin: 30px 0 15px;
    font-weight: 300;
}

h3.agileits-icons-title {
    text-align: center;
    font-size: 29px;
    color: #222;
    font-weight: 300;
}

.icons a {
    color: #999;
}

.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}

.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background: rgba(149, 149, 149, 0.18);
    margin: 1%;
    cursor: pointer;
}

.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #282a2b;
}

.bs-glyphicons.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: '微軟正黑體', 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #777;
}

.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}

@media (max-width:1080px) {
    .icon-box {
        width: 33.33%;
    }
}

@media (max-width:991px) {
    h3.agileits-icons-title {
        font-size: 28px;
    }
    h3.icon-subheading {
        font-size: 22px;
    }
    .icon-box {
        width: 50%;
    }
}

@media (max-width:768px) {
    h3.agileits-icons-title {
        font-size: 28px;
    }
    h3.icon-subheading {
        font-size: 25px;
    }
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    .icon-box {
        margin: 0;
    }
}

@media (max-width: 640px) {
    .icon-box {
        float: left;
        width: 50%;
    }
    h3.icon-subheading {
        font-size: 22px;
    }
    .grid_3.grid_4.w3_agileits_icons_page {
        margin-top: 25px;
    }
}

@media (max-width: 480px) {
    .bs-glyphicons li {
        width: 31%;
    }
}

@media (max-width: 414px) {
    h3.agileits-icons-title {
        font-size: 23px;
    }
    h3.icon-subheading {
        font-size: 18px;
    }
    .bs-glyphicons li {
        width: 31.33%;
    }
}

@media (max-width: 384px) {
    .icon-box {
        float: none;
        width: 100%;
    }
}

@media (max-width: 375px) {
    .w3_agileits_icons_page {
        margin: 25px 0 0 !important;
    }
}

/*-- //web icons --*/

/*-- /responsive design --*/

@media(max-width:1440px) {}

@media(max-width:1366px) {}

@media(max-width:1280px) {}

@media(max-width:1080px) {
    nav.navbar.navbar-default {
        background: none;
        padding: 0.5em 1em;
    }
    .navbar-brand {
        font-size: 1em;
    }
    .navbar-nav>li>a {
        padding: 0 1em;
    }
    .w3-about-all-grid {
        width: 66%;
        margin: 0 auto;
    }
    .services-icon-info h4 {
        width: 51%;
    }
    .w3-adv-lef1-text2 h4 {
        line-height: 1.5em;
    }
    .w3-adv-right2-icons {
        width: 59%;
        margin: 0 auto;
    }
    .w3-footer-contact-info h4 {
        font-size: 1.2em;
    }
    .w3ls-hover .view-caption {
        padding: 2em 0;
    }
    .w3-about-all-grid {
        width: 77%;
        margin: 0 auto;
    }
    .services-icon-info h4 {
        width: 65%;
    }
    #chart #bars li .bar {
        width: 36px;
        margin-left: 24px;
    }
    #chart #numbers {
        width: 27px;
    }
    #chart {
        height: 0px;
    }
}

@media(max-width:1024px) {
    .navbar-nav>li>a {
        padding: 0 0.6em;
    }
    #chart {
        height: 0px;
    }
    #chart #bars li .bar {
        width: 36px;
        margin-left: 24px;
    }
    #chart #numbers {
        width: 27px;
    }
    .nbs-flexisel-container {
        position: relative;
        max-width: 90%;
        margin: 0 auto;
    }
}

@media(max-width:991px) {
    .navbar-right {
        margin: 0.8em 0 0 4em;
    }
    .w3-about-grid-right {
        width: 50%;
        float: left;
    }
    .w3-about-grid-left {
        width: 50%;
        float: left;
    }
    .w3-about-all-grid {
        width: 85%;
        margin: 0 auto;
    }
    .w3layouts_event_grid {
        width: 50%;
        float: left;
    }
    .services-icon-info h4 {
        width: 69%;
    }
    .w3-adv-left1 {
        padding: 0em 1em 2em 0;
    }
    .w3-adv-left3 {
        padding: 0em 1em 2em 0;
    }
    .w3-adv-right1 {
        background: url(../../images/innovative/news2.png) no-repeat 0px -292px;
        background-size: cover;
        min-height: 300px;
    }
    .w3-adv-left2 {
        background: url(../../images/innovative/news3.jpg) no-repeat 0px -260px;
        background-size: cover;
        min-height: 300px;
        margin-top: 0.5em;
    }
    .w3-adv-right3 {
        background: url(../../images/innovative/news4.png) no-repeat 0px -292px;
        background-size: cover;
        min-height: 300px;
    }
    .w3-adv-left4 {
        background: url(../../images/innovative/news5.jpg) no-repeat 0px -260px;
        background-size: cover;
        min-height: 300px;
        margin-top: 0.5em;
    }
    .w3-footer-contact-left {
        width: 50%;
        float: left;
    }
    .w3-footer-contact-right {
        width: 50%;
        margin: 2em auto;
    }
    .w3-about-us,
    .w3-agile-services,
    .subscribe,
    .w3-footer-contact,
    .typo,
    .inner_main_agile_section,
    .testimonial_about,
    .team,
    .w3-services-page,
    .contact,
    .w3-advantages,
    .team1,
    .gallery {
        padding: 4em 0;
    }
    .w3-headings-all h3,
    .typo-title h3 {
        font-size: 2.8em;
    }
    .w3_agileits_about_grid_left {
        width: 100%;
        float: none;
    }
    .w3_agileits_about_grid_right {
        width: 75%;
        float: none;
        margin: 4em auto 16em;
    }
    .col-md-3.wthree-team-grid {
        width: 50%;
        float: left;
    }
    .view.view-first {
        width: 88%;
        margin: 0 auto 0em;
        padding: 0em 5em 0;
    }
    .skills-w3left {
        padding: 0;
        margin-bottom: 2em;
    }
    .w3ls-hover .view-caption h5 {
        font-size: 2em;
        margin-bottom: 3px;
    }
    .w3ls-hover .view-caption {
        padding: 1em 0;
    }
    .col-md-5.address {
        width: 50%;
        margin: 0 auto 2em;
    }
    .contact-form {
        width: 80%;
        margin: 0 auto;
    }
    .map iframe {
        min-height: 400px;
    }
    .agileits-title h3 {
        font-size: 2.5em;
    }
    .w3-about-all-grid {
        width: 100%;
        margin: 0 auto;
    }
    .services-icon-info h4 {
        width: 78%;
    }
}

@media(max-width:800px) {
    .navbar-header h1 {
        font-size: 1.8em;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 0.9em;
    }
    .navbar-right {
        margin: 0.8em 0 0 0em;
    }
    a.navbar-brand i.fa.fa-star {
        color: #000;
        font-size: 0.9em;
    }
    nav.navbar.navbar-default {
        background: none;
        padding: 0.5em 0.5em;
    }
    .w3-about-grid-left h3,
    .w3-about-grid-right h3 {
        font-size: 1.3em;
        margin: 0.5em 0;
    }
}

@media(max-width:768px) {
    .navbar-header h1 {
        font-size: 1.6em;
    }
    .w3-about-us,
    .w3-agile-services,
    .subscribe,
    .w3-footer-contact,
    .typo,
    .inner_main_agile_section,
    .testimonial_about,
    .team,
    .w3-services-page,
    .contact,
    .w3-advantages,
    .team1,
    .gallery {
        padding: 3em 0;
    }
    .w3-headings-all h3,
    .typo-title h3 {
        font-size: 2.5em;
    }
    .w3_agileits_about_grid_right {
        width: 75%;
        float: none;
        margin: 4em auto 19em;
    }
    .w3-about-text p {
        width: 83%;
        margin: 0 auto;
    }
    .events {
        margin-top: 2em;
    }
    div#team {
        padding: 1em 0;
    }
}

@media(max-width:736px) {
    button.navbar-toggle {
        position: absolute;
        float: none;
        right: 0%;
    }
    div#bs-example-navbar-collapse-1 {
        position: absolute;
        width: 100%;
        z-index: 999;
    }
    .navbar-nav {
        margin: 7.5px 0px;
        background: rgba(0, 0, 0, 0.46);
    }
    .nav>li {
        margin: 1em 0;
        text-align: center;
    }
    .navbar-default .navbar-nav>li>a {
        color: #fff;
    }
    .services-icon-info h4 {
        width: 25%;
    }
    .services-icon-info p {
        width: 50%;
        margin: 1em auto;
    }
    .services-right-grid {
        margin-bottom: 3em;
    }
}

@media(max-width:667px) {
    .w3-footer-contact-left {
        width: 100%;
        float: none;
        margin-bottom: 3em;
    }
    .w3-footer-contact-middle {
        width: 50%;
        margin: 0 auto 3em;
    }
    .w3-headings-all h3,
    .typo-title h3 {
        font-size: 2.2em;
    }
    .skills h4 {
        font-size: 2.2em;
    }
    .col-md-5.address {
        width: 68%;
        margin: 0 auto 2em;
    }
    .w3-about-grid-left {
        width: 68%;
        float: none;
        margin: 0 auto;
    }
    .w3-about-grid-right {
        width: 68%;
        float: none;
        margin: 24px auto;
    }
}

@media(max-width:640px) {
    .w3-about-grid-left {
        width: 58%;
        float: none;
        margin: 0 auto;
    }
    .w3-about-grid-right {
        width: 58%;
        float: none;
        margin: 24px auto;
    }
    .services-icon-info h4 {
        width: 27%;
    }
    .agileits_w3layouts_event_grid1 h5 a {
        font-size: 1.4em;
        letter-spacing: 2px;
    }
    .services-icon-info h4 {
        width: 29%;
    }
}

@media(max-width:600px) {}

@media(max-width:568px) {
    .header {
        padding: 0.6em 2em;
        background: #1f1f26;
    }
    .w3-about-text p {
        width: 94%;
        margin: 0 auto;
    }
    .w3-about-grid-left {
        width: 70%;
        float: none;
        margin: 0 auto;
    }
    .w3-about-grid-right {
        width: 70%;
        float: none;
        margin: 24px auto;
    }
    .agileits_w3layouts_event_grid1 h5 a {
        font-size: 1.3em;
        letter-spacing: 2px;
    }
    .services-icon-info h4 {
        width: 33%;
    }
    .w3-adv-lef1-text2 h4 {
        line-height: 1.5em;
    }
    .w3-adv-lef1-text h3 {
        font-size: 1.5em;
    }
    .w3-adv-lef1-text2 h4 {
        font-size: 1.3em;
    }
    .w3-adv-right1 {
        background: url(../../images/innovative/news2.png) no-repeat 0px -188px;
    }
    .w3-adv-left2 {
        background: url(../../images/innovative/news3.jpg) no-repeat 0px -116px;
    }
    .w3-adv-right3 {
        background: url(../../images/innovative/news4.png) no-repeat 0px -188px;
    }
    .w3-adv-left4 {
        background: url(../../images/innovative/news5.jpg) no-repeat 0px -116px;
    }
    .w3-adv-lef1-text h3 {
        font-size: 1.4em;
    }
    .w3-adv-right2-text h3 {
        font-size: 1.4em;
    }
    .w3-adv-lef3-text h3 {
        font-size: 1.4em;
    }
    .w3-adv-right4-text h3 {
        font-size: 1.4em;
    }
}

@media(max-width:480px) {
    .w3-about-us,
    .w3-agile-services,
    .subscribe,
    .w3-footer-contact,
    .typo,
    .inner_main_agile_section,
    .testimonial_about,
    .team,
    .w3-services-page,
    .contact,
    .w3-advantages,
    .team1,
    .gallery {
        padding: 2em 0;
    }
    .w3-about-grid-left {
        width: 71%;
        float: none;
        margin: 0 auto;
    }
    .w3-about-grid-right {
        width: 72%;
        float: none;
        margin: 24px auto;
    }
    .w3layouts_event_grid {
        width: 100%;
        float: none;
    }
    .services-icon-info p {
        width: 75%;
        margin: 1em auto;
    }
    .services-icon-info h4 {
        width: 36%;
    }
    .agileits-title h3 {
        font-size: 2em;
    }
    .subscribe input[type="email"] {
        width: 67%;
    }
    .w3-footer-contact-middle {
        width: 76%;
        margin: 0 auto 3em;
    }
    .nbs-flexisel-container {
        position: relative;
        max-width: 48%;
        margin: 0 auto;
    }
    .nbs-flexisel-nav-right {
        right: 124%;
    }
    .nbs-flexisel-nav-left {
        left: 124%;
    }
    .view.view-first {
        width: 100%;
    }
    .w3-footer-contact-left h3 {
        font-size: 1.5em;
    }
    .col-sm-3.col-xs-4.gallery-grids {
        width: 50%;
        padding: 1em;
    }
    .address h4 {
        font-size: 1.5em;
    }
    .resp-tabs-list {
        width: 76%;
    }
    .w3-footer-contact-right {
        width: 75%;
    }
    div#team {
        padding: 1em 0;
    }
}

@media(max-width:414px) {
    .w3-about-grid-left {
        width: 90%;
        float: none;
        margin: 0 auto;
    }
    .w3-about-grid-right {
        width: 90%;
        float: none;
        margin: 24px auto;
    }
    .services-icon-info h4 {
        width: 44%;
    }
    .w3-headings-all h3,
    .typo-title h3 {
        font-size: 2em;
    }
    .w3-about-text p {
        width: 100%;
        margin: 0 auto;
    }
    .w3-adv-lef1-text h3 {
        font-size: 1.2em;
    }
    .w3-adv-right2-text h3 {
        font-size: 1.2em;
    }
    .w3-adv-lef3-text h3 {
        font-size: 1.2em;
    }
    .w3-adv-right4-text h3 {
        font-size: 1.2em;
    }
    .subscribe input[type="email"] {
        width: 61%;
    }
    .w3-footer-contact-middle {
        width: 91%;
        margin: 0 auto 3em;
    }
    .w3-about-grid-left h3,
    .w3-about-grid-right h3 {
        font-size: 1em;
        margin: 0.5em 0;
    }
    .w3-footer-contact-icon1 i {
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }
    .w3_agileits_about_grid_right {
        width: 97%;
        float: none;
    }
    .team-social-grids ul li {
        margin: 0 .2em 0 0;
    }
    .wthree-team-grid h4 {
        font-size: 0.9em;
    }
    .view.view-first {
        width: 88%;
        margin: 0 auto 0em;
        padding: 0em 1em 0;
    }
    .w3-adv-right2-icons {
        width: 85%;
        margin: 0 auto;
    }
    .w3-adv-right4-icons {
        width: 85%;
        margin: 0 auto;
    }
    .skills h4 {
        font-size: 2em;
    }
    .w3ls-hover .view-caption {
        padding: 1em 0;
    }
    .header {
        padding: 0.6em 0em;
        background: #1f1f26;
    }
    .w3ls-hover .view-caption h5 {
        font-size: 1.2em;
    }
    .w3-adv-right2-icons p {
        font-size: 1em;
    }
    .w3-adv-right4-icons p {
        font-size: 1em;
    }
    .col-md-5.address {
        width: 91%;
        margin: 0 auto 2em;
    }
    .contact-form {
        width: 100%;
        margin: 0 auto;
    }
    .w3-adv-lef1-text2 h4 {
        font-size: 1.1em;
    }
    .agileits-social.top_content {
        margin: 1em 0 !important;
        padding: 0;
    }
}

@media(max-width:384px) {
    .services-icon-info h4 {
        width: 51%;
    }
    .subscribe input[type="email"] {
        width: 57%;
    }
    .w3-footer-contact-middle {
        width: 99%;
        margin: 0 auto 3em;
    }
    .w3-adv-lef1-text p {
        font-size: 1em;
        margin-bottom: 1em;
    }
    .services-icon-info p {
        width: 97%;
        margin: 1em auto;
    }
    .team-social-grids ul li {
        margin: 0 .1em 0 0;
    }
    .col-md-3.wthree-team-grid {
        width: 100%;
        float: none;
        margin-bottom: 1em;
    }
    .view.view-first {
        width: 98%;
        margin: 0 auto 0em;
        padding: 0em 0em 0;
    }
    .contact input[type="submit"] {
        padding: 0.6em 2em;
    }
    .address p.cnt-p {
        font-size: 14px;
        letter-spacing: 0.7px;
    }
    .w3-footer-contact-middle {
        width: 100%;
    }
}

@media(max-width:375px) {
    .w3-adv-lef1-text2 h4 {
        font-size: 1em;
    }
    .w3-adv-right2-text p {
        font-size: 1em;
        margin-bottom: 1em;
    }
    .w3-adv-lef3-text2 h4 {
        font-size: 1em;
    }
    .w3-adv-right4-text p {
        font-size: 1em;
        margin-bottom: 1em;
    }
    .subscribe input[type="email"] {
        width: 56%;
    }
    .wthree-team-grid {
        width: 100%;
        float: none;
        margin-bottom: 1em;
    }
}

@media(max-width:320px) {
    .w3layouts_header_left ul li a {
        padding: 0.5em 0.5em;
    }
    .sliderBox h3 span {
        font-size: 14px;
        letter-spacing: 2px;
        padding-top: 1em;
    }
    .w3-about-grid-left {
        width: 100%;
        float: none;
    }
    .w3-about-grid-right {
        width: 100%;
        float: none;
    }
    .services-icon-info h4 {
        width: 60%;
    }
    .w3-footer-contact-middle img {
        width: 100%;
    }
    .address h4 {
        font-size: 1.2em;
    }
    .subscribe input[type="email"] {
        width: 56%;
    }
    .subscribe input[type="submit"] {
        padding: 1em 1em;
    }
    .subscribe input[type="email"] {
        width: 100%;
        border-right: 1px solid #f1ce65;
    }
    .subscribe input[type="submit"] {
        padding: 1em 1em;
        margin: 1em 0;
    }
}
/*-- /responsive design --*/